doctype html
html
  head
    title Home
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Welcome to My Express App
    p Go to 
      a(href='/users') Users/Пользователи
      |  or 
      a(href='/articles') Articles/Статьи
